In [118]:
import pyspark
from pyspark.sql import types, functions as F
from pyspark.sql import SparkSession

In [9]:
spark = SparkSession.builder \
            .master("local[*]") \
            .appName('fhvhv') \
            .getOrCreate()

In [51]:
fhv_schema = types.StructType([
        types.StructField('dispatching_base_num', types.StringType(), True), 
        types.StructField('pickup_datetime', types.TimestampType(), True), 
        types.StructField('dropoff_datetime', types.TimestampType(), True), 
        types.StructField('PULocationID', types.IntegerType(), True), 
        types.StructField('DOLocationID', types.IntegerType(), True), 
        types.StructField('SR_Flag', types.StringType(), True), 
        types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [102]:
fhv_df = spark.read \
            .option("header", "true") \
            .schema(fhv_schema) \
            .csv("../data/raw/fhvhv_tripdata_2021-06.csv.gz")

In [103]:
fhv_df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [104]:
fhv_df.repartition(12).write.parquet("../data/stage/", mode="overwrite")

In [105]:
fhv_df = spark.read.parquet("../data/stage/*")

In [106]:
fhv_df.show(5)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02889|2021-06-04 20:51:44|2021-06-04 21:10:12|         239|         158|      N|                B02889|
|              B02800|2021-06-04 15:50:15|2021-06-04 16:19:29|          75|         116|      N|                  null|
|              B02510|2021-06-02 21:03:38|2021-06-02 21:10:12|         167|         168|      N|                  null|
|              B02867|2021-06-02 12:51:57|2021-06-02 13:05:09|         151|         142|      N|                B02867|
|              B02869|2021-06-21 09:51:45|2021-06-21 10:09:17|         106|          65|      N|                B02869|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 5 rows

In [107]:
fhv_df.createOrReplaceTempView("fhv_trips")

## Total Trips on June 15th

In [111]:
total_trips_on_15_june = spark.sql("""

SELECT COUNT(*) as total_trips
FROM fhv_trips
WHERE DATE(pickup_datetime) = '2021-06-15'

""")

+-----------+
|total_trips|
+-----------+
|     452470|
+-----------+

In [100]:
total_trips_on_15_june.write.parquet("../data/marts/total_trips_on_15_june/", mode="overwrite")

In [101]:
total_trips_on_15_june.show()

+-----------+
|total_trips|
+-----------+
|     452470|
+-----------+

## Longest Trip

In [125]:
fhv_df = fhv_df \
            .withColumn("pickup_timestamp", F.to_timestamp("pickup_datetime").cast("integer")) \
            .withColumn("dropoff_timestamp", F.to_timestamp("dropoff_datetime").cast("integer")) \
            .withColumn("trip_duration", F.col("dropoff_timestamp") - F.col("pickup_timestamp")) \
            .drop("pickup_timestamp", "dropoff_timestamp")

In [128]:
fhv_df.select("pickup_datetime", "dropoff_datetime", "trip_duration").show(5)

+-------------------+-------------------+-------------+
|    pickup_datetime|   dropoff_datetime|trip_duration|
+-------------------+-------------------+-------------+
|2021-06-04 20:51:44|2021-06-04 21:10:12|         1108|
|2021-06-04 15:50:15|2021-06-04 16:19:29|         1754|
|2021-06-02 21:03:38|2021-06-02 21:10:12|          394|
|2021-06-02 12:51:57|2021-06-02 13:05:09|          792|
|2021-06-21 09:51:45|2021-06-21 10:09:17|         1052|
+-------------------+-------------------+-------------+
only showing top 5 rows

In [137]:
fhv_df.select(
        F.round(F.max("trip_duration") / 60 / 60, 2).alias("trip_duration_max")
).show()

+-----------------+
|trip_duration_max|
+-----------------+
|            66.88|
+-----------------+

## Most fequet pickup location zone

In [138]:
!wget -P ../data/raw/ https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2023-03-04 20:49:26--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230304T204926Z&X-Amz-Expires=300&X-Amz-Signature=3b8535d95a9584bf50427c85de1f9f3b913b8aabfc8d4bf767eeb814f0f3c82e&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2023-03-04 20:49:26--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230304T204926Z&X-Amz-Expires=300&X-Amz-Signature=3b8535d95a9584bf50427c85de1f9f3b913b8aabfc8d4bf767eeb814f0f3c82e&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘../data/raw/taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2023-03-04 20:49:26 (69.6 MB/s) - ‘../data/raw/taxi_zone_lookup.csv’ saved [12322/12322]

In [144]:
taxi_zones_schema = types.StructType([
    types.StructField('LocationID', types.IntegerType(), True), 
    types.StructField('Borough', types.StringType(), True), 
    types.StructField('Zone', types.StringType(), True), 
    types.StructField('service_zone', types.StringType(), True)
])

In [145]:
taxi_zone_df = spark \
                .read \
                .option("header", "true") \
                .schema(taxi_zones_schema) \
                .csv("../data/raw/taxi_zone_lookup.csv")

In [157]:
taxi_zone_df = taxi_zone_df.filter(taxi_zone_df.Borough != "Unknown")

In [165]:
taxi_zone_df \
    .select("LocationID", "Zone") \
    .createOrReplaceTempView("taxi_zone_lookup")

In [166]:
fhv_df.createOrReplaceTempView("fhv_trips")

In [176]:
spark.sql("""

    SELECT 

        zone.Zone as pickup_location,
        COUNT(*) as trips_number 

    FROM fhv_trips AS trips
    INNER JOIN taxi_zone_lookup AS zone
            ON zone.LocationID = trips.PULocationID 

    WHERE DATE(pickup_datetime) BETWEEN '2021-06-01' AND '2021-06-30'
    GROUP BY pickup_location
    ORDER BY trips_number DESC
    LIMIT 1

""").show()

+-------------------+------------+
|    pickup_location|trips_number|
+-------------------+------------+
|Crown Heights North|      231279|
+-------------------+------------+